

body {
    background-color: black;
    color:white;
    font-size: 15px;
    font-weight: normal;
    font-family: 'cutive';
}

@font-face {
font-family: 'cutive';
src: url(custom-font/assets/css/fonts/CutiveMono-Regular.ttf);
}

@font-face {
    font-family: 'BBB';
    src: url(custom-font/assets/css/fonts/BBB_Simulator_Black.otf);
}
h1 {
    font-weight: normal;
    font-size: 25px;
    font-family: 'BBB';
}

p {
    color: rgb(27, 88, 13);
    font-size: 15px;
    font-weight: bolder;
    font-kerning: initial;
}

div.title {
font-size: 100px;
text-align: center;
font-family: 'BBB';
}

div.text {
    text-align: center;
    font-size: 18px;
}

div.ALLTHETIME {
    text-align: center;
    font-family: 'BBB';
    margin-bottom: 50px;
    font-size: 20px;
}

div.paragraph3 {
    text-align: center;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}


div.paragraph3 {
    margin-top: 50px;
    text-align: center;
}

div.closingthoughts {
    margin-top: 50px;
    text-align: center;
    
}

div.textbottom {
    margin-top: 50px;
    text-align: center;
}

div.textbottom2 {
    margin-top: 50px;
    text-align: center;
}