
body {
    background-color: blanchedalmond;
    color:red;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
}


h1 {
    font-weight: normal;
    font-size: 20px;
}

p {
    color: royalblue;
    font-size: 15px;
}

div.title {
font-size: 100px;
text-align: center;
}
