body {
font-size: 36px;
  background: url(waitingroom.jpg);
background-size: 100%;
background-size: cover;
background-repeat: no-repeat;
}

@font-face {
font-family:'BBB';
src: url('custom-font/assets/css/fonts/BBB_Simulator_Black.otf')
}

@font-face {
  font-family:'cutive';
  src: url('custom-font/assets/css/fonts/CutiveMono-Regular.ttf')
  }

div.title {
  position:fixed;
  top: 0px;
  left: 420px;
  width: 50%;
  font-family: 'BBB';
  font-size:50px;
  color: blue;
}

div.marquee {
  font-size: 30px;
  font-family: 'cutive';
  color: black;
  background-color: white;
  margin-bottom:100px;
  margin-top: 70px;
}

div.row{
display: flex;
flex-wrap:wrap;
}

div.col1{
  outline: 2px solid cyan;
  width:300%;
  height: 80vh;
  left: 0
}

div.backgroundimage {
  width:100%;
  height: 200vh;
  background-image:url("waitingroom.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-size: 20px;
  opacity: 50%;
}

div.subheading {
  color: white;
  font-family: 'BBB';
  text-align: center;
 margin-top: 80px;
}
 

div.col{
  outline: 2px solid cyan;
  width:100%;
}


a:hover {
  text-decoration: underline;
}


div.button {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 100%;
}

div.nav {
  background-color: #fff;
}

div.nav a {
  color:blue;
}

div.box {
  border: 10px solid white;
  padding: 20px;
  margin-top: 18%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 100px;
}

div.box {
  font-family: 'BBB';
  color: blue;
  font-size: 36px;
text-align: center;
}